.navbar{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-around;
    padding: 0 147px
}


.navbar-pages{
    display: flex;
    gap: 20px;
}
.navbar a{
    color: #777;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9rem;
}

.navbar-pages a:hover{
    background-image: linear-gradient(90deg, #eec42a, #b74d1c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#user-menu{
    font-size: .875rem
}
#user-menu a+a{
    margin-left: 15px
}
#user-menu a:hover{color: white;}

#account_search{
    margin-left: 30px;
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
}
#account_search button{
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: inherit;
}