@use '../util/colors';

.cinema-finder, .cinema-finder__dropdown{
    display: flex;
    align-items: center;
}

.cinema-finder{
    position: relative;
    gap: 30px;
    margin-top: 25px;

    h2{
        flex-shrink: 0;
    }
    // padding: 30px 147px;
}
.bar{
    height: 2px;
    width: 100%;
    bottom: -20px;
    background-image: colors.$theme-gradient;
    position: absolute;
} 

.cinema-finder__button{
    border: 1px solid #777;
}


.cinema-finder__dropdown{
    width: 100%;
    position: relative;
}

.dropdown-opener{
    width: 100%;
    border-bottom: 1px solid;
    padding: 4px;
    text-align: left;
    display: flex;
    background: transparent;
    color: colors.$grey;
    border-bottom: 1px solid colors.$grey
}
.cinema-finder__dropdown-icon{
    margin-left: auto;
}

.cinema-finder a{
    border: 1px solid colors.$grey;
    padding: 10px 35px;
}

.dropdown-menu{
    background: black;
    border: 1px solid colors.$grey;
    width: 400px;
    height: 360px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 10px;
    display: none;
    z-index: 9;
}

#dropdown-menu__header{
    display: flex;
    align-items: center;
}
#dropdown-menu__header button{
    margin-left: auto;
    color: white;
}

.dropdown-menu__title{
    @include colors.bgGradient;
    font-weight: 400;
}

.dropdown-menu__search{
    display: flex;
    border-bottom: 1px solid colors.$grey;
    padding-bottom: 10px;
}

input{
    width: 100%;
    color: colors.$grey;
    background: transparent;
    border: none;
}
input:focus{
    outline: none;
}

.dropdown-item {
    width: 100%;
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid colors.$grey;
    color: white;
}
.dropdown-item:hover{
    border-bottom: 1px solid white;
}


.dropdown-menu__toggle{
    display: block;
}