@use '../util/colors';
@use '../util/breakpoints';

header{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}


nav{
    display: none;
    a{
        color: colors.$grey;
        text-transform: uppercase;
        font-size: .9rem;
    }

    @include breakpoints.breakpoint-up(large){
        display: flex;
        gap: 20px;

        a:hover{
            @include colors.bgGradient
        }
    }
}

#user-menu{
    font-size: .875rem

    a+a{
        margin-left: 15px
    }
    a:hover{color: white;}
}

#account_search{
    margin-left: 30px;
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
}
#account_search button{
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: inherit;
}

#menu{
    display: block;

    @include breakpoints.breakpoint-up(large){
        display: none;
    }
}