.cinema-finder, .cinema-finder__dropdown{
    display: flex;
    align-items: center;
}

.cinema-finder{
    position: relative;
    gap: 30px;
    padding: 30px 147px;
}
/* .cinema-finder::after{
    content: '';
    height: 2px;
    width: 100%;
    bottom: 0;
    background-image: linear-gradient(90deg, #eec42a, #b74d1c);
    position: absolute;
} */

.cinema-finder__button{
    border: 1px solid #777;
}


.cinema-finder__dropdown{
    width: 100%;
    position: relative;
}

.dropdown-opener{
    width: 100%;
    border-bottom: 1px solid;
    padding: 4px;
    text-align: left;
    display: flex;
    background: transparent;
    color: #777;
    border-bottom: 1px solid #777
}
.cinema-finder__dropdown-icon{
    margin-left: auto;
}

.cinema-finder a{
    border: 1px solid #777;
    padding: 10px 35px;
}

.dropdown-menu{
    background: black;
    border: 1px solid #777;
    width: 400px;
    height: 360px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 10px;
    display: none;
    z-index: 9;
}

#dropdown-menu__header{
    display: flex;
    align-items: center;
}
#dropdown-menu__header button{
    margin-left: auto;
    color: white;
}

.dropdown-menu__title{
    background-image: linear-gradient(90deg,#dc6a1a,#eec42a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
}

.dropdown-menu__search{
    display: flex;
    border-bottom: 1px solid #777;
    padding-bottom: 10px;
}

input{
    width: 100%;
    color: #777;
    background: transparent;
    border: none;
}
input:focus{
    outline: none;
}

.dropdown-item {
    width: 100%;
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #777;
    color: white;
}
.dropdown-item:hover{
    border-bottom: 1px solid white;
}


.dropdown-menu__toggle{
    display: block;
}